---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - app.philipkrueck.com
  resources:
  - philips
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - app.philipkrueck.com
  resources:
  - philips/finalizers
  verbs:
  - update
- apiGroups:
  - app.philipkrueck.com
  resources:
  - philips/status
  verbs:
  - get
  - patch
  - update
